@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    --primary-color: hsl(243, 87%, 12%);
    --primary-color-desaturated: hsl(238, 22%, 44%);

    --accent-color-bright: hsl(224, 93%, 58%);
    --accent-color-moderate: hsl(170, 45%, 43%);

    --neutral-color-light: hsl(240, 20%, 99%);
    --neutral-color-gray: hsl(0, 0%, 75%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Raleway', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  
    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-bold: 700;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  @media screen and (min-width: 968px) {
    :root {
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1.1rem;
      --small-font-size: .875rem;
    }
  }

  /* ============= base ============== */
*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-weight: var(--font-normal);
    background-color: var(--neutral-color-light);
    color: var(--primary-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    font-weight: var(--font-bold);
    font-family: var(--heading-font);
}

img {
    max-width: 100%;
    height: auto;
}

section{
    padding: 3.5rem 0rem 3rem;
}

.container {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.flex{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

/* ============= header and nav =============== */
.header{
    width: 100%;
    margin-top: .7rem;
    margin-bottom: 2rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.nav-logo-img{
    width: 5rem;
}

.nav-toggle{
    font-size: var(--small-font-size);
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-toggle > a{
    color: var(--primary-color);
}
.nav-toggle > a:hover {
    color: var(--accent-color-bright);
}

/* ============ home =============== */
.home-content{
    display: grid;
    gap: 1.5rem;
    text-align: center;
}

.home-title{
    font-size: 1.6rem;
    font-weight: var(--font-bold);
}

.home-input > input{
    padding: .8rem 1rem;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}
.home-input > input::placeholder {
    color: var(--neutral-color-gray);
}

form > .home-btn{
    color: white;
    background-color: var(--accent-color-bright);
    font-size: var(--font-normal);
    border: none;
}

/* ================= Content =============== */
.background{
    background: url(./images/bg-curve-mobile.svg) center;
    background-repeat: no-repeat;
    background-size: 120rem 62rem;
    background-clip: content-box;
    margin: 0;
}
.content-data{
    margin-top: 4rem;
    gap: 4rem;
}

.content-details{
    row-gap: 0;
}
.content-title{
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 1.5rem;
}
.content-description{
    color: var(--primary-color-desaturated);
    margin-bottom: 2rem;
    line-height: 1.3;
}

.content-link{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    color: var(--accent-color-moderate);
    border-bottom: 1px solid var(--accent-color-moderate);
    padding-bottom: .3rem;
}
.content-link:hover{
    color: var(--accent-color-bright);
    border-bottom: 1px solid var(--accent-color-bright);
}
.content-link > .content-icon{
    border-radius: 50%;
    color: #fff;
    background-color: var(--accent-color-moderate);
    padding: 4px;
    font-size: .6rem;
}
.content-link:hover > .content-icon{
    background-color: var(--accent-color-bright);
}

.card{
    align-self: center;
    justify-self: center;
    width: 300px;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    border-radius: 8px;
}

.card  .card-img{
    width: 16px;
    height: 16px;
    margin-bottom: 0.5rem;
}

.card .card-details{
    font-size: .75rem;
    font-weight: var(--font-bold);
    line-height: 20px;
    letter-spacing: 1.5px;
}

.card-user{
    margin-top: 1rem;
    flex-direction: row;
    column-gap: 10px;
}
.user-img{
    border-radius: 50%;
    width: 30px; height: 30px;
}

.user-name{
    font-size: 1rem;
}
.user-info{
    font-size: .65rem;
}

/* ============== bottom section =============== */
.bottom-bg{
    padding: 0;
    margin: 0;
    background-color: var(--primary-color-desaturated);
}

.bottom-section{
    text-align: center;
    color: #fff;
}

.access-title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.2rem;
}
.access-info{
    color: var(--neutral-color-gray);
    font-size: var(--normal-font-size);
}

.access-input{
    align-self: center;
    justify-self: center;
    gap: 8px;
}
.access-input > input {
    padding: .7rem;
    width: 245px;
    border-radius: 3px;
    border: none;
    outline: none;
    overflow: hidden;
}
.access-input > input:nth-child(1)::placeholder{
    font-size: .7rem;    
    color: rgb(235, 231, 231);
}
.access-input > input:nth-child(2){
    cursor: pointer;
    font-size: var(--small-font-size);
    transition: .3s ease;
}
.access-input > input:nth-child(2):hover{
    background-color: var(--primary-color);
}

/* =================== footer ================= */
footer{
    background-color: var(--primary-color);
    color: var(--neutral-color-light);
}

.footer-logo{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(212deg) brightness(103%) contrast(104%);
}

.contacts{
    row-gap: .85rem;
}
.contact{
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}
.contact > i{
    font-size: 1.2rem;
}

.part1,
.part2{
    row-gap: .7rem;
}

.link:hover{
    cursor: pointer;
    color: var(--primary-color-desaturated);
}

.socials{
    flex-direction: row;
    column-gap: 1rem;
    justify-self: center;
    align-self: center;
}
.social{
    display: inline-flex;
    color: var(--neutral-color-light);
    border: 1px solid var(--neutral-color-light);
    border-radius: 50%;
    width: 32px; height: 32px;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out;
}
.social:hover
{
    color: var(--primary-color-desaturated);
    border: 1px solid var(--primary-color-desaturated);
    transform: scale(1.1);
}

/* ==================== scroll bar ====================== */
::-webkit-scrollbar{
    width: 0.6rem;
    background-color: hsl(248, 67%, 98%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: hsl(248, 67%, 88%);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--neutral-color-gray);
}

/* ================= for big devices 1440px =================== */
@media (min-width: 968px) {
    .container{
        margin-right: 4.9rem;
        margin-left: 4.9rem;
    }

    /* ================= vav ================= */
    .header{
        margin-top: 2rem;
    }
    .nav-logo-img{
        width: 9rem;
    }
    .nav-toggle{
        width: 280px;
    }
    .nav-toggle > a{
        font-size: var(--normal-font-size);
    }

    /* ============== home =============== */
    .home{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2rem;
    }
    .home-img{
        order: 2;
    }

    .home-content{
        text-align: left;
        align-content: center;
    }
    .home-title{
        font-size: var(--h1-font-size);
        line-height: 1.3;
        font-weight: 700;
    }
    .home-description{
        font-size: var(--normal-font-size);
    }

    .home-input
    {
        grid-template-columns: 2fr 1fr;
        width: 500px;
    }

    /* =============== content =============== */
    .content-data{
        grid-template-columns: 53% auto;
        margin-top: 0;
    }
    .content-img{
        order: 2;
    }

    .content-title{
        text-align: left;
        font-size: var(--h1-font-size);
    }
    .content-description{
        margin-bottom: 1rem;
    }
    .content-link{
        align-self: baseline;
    }

    .card{
        align-self: baseline;
        width: 360px; height: 224px;
        padding: 1.75rem;
        padding-bottom: 1rem;
    }
    .card .card-details{
        margin-bottom: 1rem;
    }
    .card-user{
        margin-top: 1.5rem;
    }

    /* ================== bottom content ====================== */
    .bottom-section{
        height: 300px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .access-details{
        width: 50%;
        text-align: left;
    }
    .access-title{
        font-size: var(--h1-font-size);
    }
    .access-info{
        width: 88%;
    }

    .access-input{
        width: 50%;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
    .access-input > input{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .access-input > input:nth-child(1){
        width: 210%;
        padding: 1rem;
    }
    .access-input > input:nth-child(2){
        padding: 1rem 0.85rem;
        width: 170px;
    }

    .access-input > input:nth-child(1)::placeholder{
        color: var(--neutral-color-gray);
    }
    
    /* ================= footer ================= */
    .footer-section{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 3rem;
        justify-content: baseline;
        align-items: baseline;
        height: 350px;
    }
    .footer-links{
        flex-direction: row;
        width:100%;
        justify-content: space-around;
    }

    .footer-logo{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .socials{
        justify-self: baseline;
        align-self: baseline;
    }
}